# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# terraform lock files
.terraform.lock*

# CI / Testing Intermediate Files
.env.sh
payload.json

# Examples
examples/*/*.tfstate
examples/*/*.tfstate.*
examples/*/*.tfvars
examples/*/*.lock*

.DS_Store

# Secrets
*ptfe-license*
*.pem*
*.cer*
*.key*
*.rli*
*id_rsa*
work

# IDE
.idea
**/admin.sh
**/envs
