#cloud-config
%{ if import_key != "" ~}
ssh_import_id:
- "${import_key}"
%{ endif ~}

write_files:

- path: /etc/ptfe/role
  owner: root:root
  permissions: "0444"
  content: "${role}"

- path: /etc/ptfe/ptfe_url
  owner: root:root
  permissions: "0644"
  content: "${ptfe_url}"

- path: /etc/ptfe/bootstrap-token
  owner: root:root
  permissions: "0400"
  content: "${bootstrap_token}"

- path: /etc/ptfe/cluster-api-endpoint
  owner: root:root
  permissions: "0400"
  content: "${cluster_api_endpoint}"

- path: /etc/ptfe/health-url
  owner: root:root
  permissions: "0400"
  content: "${health_url}"

- path: /var/lib/cloud/scripts/per-once/install-ptfe.sh
  owner: root:root
  permissions: "0555"
  encoding: b64
  content: ${install_ptfe_sh}

- path: /etc/ptfe/proxy-url
  owner: root:root
  permissions: "0400"
  content: "${proxy_url}"

%{~ if role != "secondary" ~}
- path: /etc/ptfe/setup-token
  owner: root:root
  permissions: "0400"
  content: "${setup_token}"

- path: /etc/ptfe/primary-pki-url
  owner: root:root
  permissions: "0400"
  content: "${primary_pki_url}"

- path: /etc/ptfe/role-id
  owner: root:root
  permissions: "0444"
  content: "${role_id}"

- path: /etc/profile.d/proxy.sh
  owner: root:root
  permissions: "0755"
  encoding: b64
  content: ${proxy_b64}
    
%{~ endif ~}

%{~ if role == "main" ~}
- path: /etc/replicated.rli
  owner: root:root
  permissions: "0444"
  encoding: b64
  content: ${license_b64}

- path: /etc/replicated-ptfe.conf
  owner: root:root
  permissions: "0644"
  encoding: b64
  content: ${rptfeconf}

## https://help.replicated.com/docs/kb/developer-resources/automate-install/
- path: /etc/replicated.conf
  owner: root:root
  permissions: "0644"
  encoding: b64
  content: ${replconf}

- path: /etc/ptfe/cert_thumbprint
  owner: root:root
  permissions: "0444"
  content: ${cert_thumbprint}


%{~ if airgap_package_url != "" }
- path: /etc/ptfe/airgap-package-url
  owner: root:root
  permissions: "0644"
  content: ${airgap_package_url}

- path: /etc/ptfe/airgap-installer-url
  owner: root:root
  permissions: "0644"
  content: ${airgap_installer_url}
%{ endif ~}
%{ endif ~}

%{ if role == "secondary" ~}
- path: /etc/apt/apt.conf.d/00aaa_proxy
  owner: root:root
  permissions: "0400"
  encoding: b64
  content: ${aaa_proxy_b64}
    
%{ endif ~}

%{ if distro == "ubuntu" ~}
- path: /etc/apt/apt.conf.d/00_aaa_proxy.conf
  owner: root:root
  permissions: "0400"
  encoding: b64
  content: ${aaa_proxy_b64}

packages:
- jq
- chrony
- ipvsadm
- unzip
- wget
%{ endif ~}

