bastion_public_ssh_key_secret_name   = "bastion-ssh-public-key"
ca_certificate_secret_name           = "ca-certificate"
ca_key_secret_name                   = "ca-private-key"
domain_name                          = "my.domain.com"
iact_subnet_list                     = ["0.0.0.0/0"] # careful, this is only for short-lived dev environments
key_vault_id                         = "/subscriptions/1a2s3d4f-1a2s-1q2w-4r5t6-1a2s3d4f/resourceGroups/my-rg/providers/Microsoft.KeyVault/vaults/key_vault_name"
license_file                         = "/full/path/to/my/tfe/license.rli"
load_balancer_certificate_name       = "key-vault-load-balancer-certificate-name"
location                             = "East US"
network_allow_range                  = "*" 
proxy_public_ssh_key_secret_name     = "proxy-ssh-public-key"
resource_group_name_dns              = "existing-dns-rg-name"
vm_certificate_secret_name           = "my-certificate-pem"
vm_key_secret_name                   = "my-private-key-pem"
tags                                 = {
                                         Owner       = "Your Name"
                                         Environment = "active-active"
                                         Description = "Active-Active, External"
                                         Repository  = "hashicorp/terraform-azurerm-terraform-enterprise"
                                         Team        = "Your Team Name"
                                       }