name: Pull Request Test Handler

on:
  repository_dispatch:
    types:
      - test-command

jobs:
  standalone_external:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Standalone External
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'standalone-external') }}
    with:
      test_name: Standalone External (FDO)
      is_legacy_deployment: false
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/standalone-external
      k6_work_dir: ./tests/tfe-load-test
      utility_test: false
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: STANDALONE_EXTERNAL_TFC_TOKEN
      TFC_workspace_substitution_pattern: 's/terraform {/terraform {\n\
        backend "remote" {\n\
          organization = "terraform-enterprise-modules-test"\n\
          workspaces {\n\
            name = "azure-standalone-external"\n\
          }\n\
        }\n/'

  standalone_mounted_disk:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Standalone Mounted Disk
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'standalone-mounted-disk') }}
    with:
      test_name: Standalone Mounted Disk (FDO)
      is_legacy_deployment: false
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/standalone-mounted-disk
      k6_work_dir: ./tests/tfe-load-test
      utility_test: false
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: STANDALONE_MOUNTED_DISK_TFC_TOKEN
      TFC_workspace_substitution_pattern: 's/terraform {/terraform {\n\
        backend "remote" {\n\
          organization = "terraform-enterprise-modules-test"\n\
          workspaces {\n\
            name = "azure-standalone-mounted-disk"\n\
          }\n\
        }\n/'

  public_active_active:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Public Active/Active
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'public-active-active') }}
    with:
      test_name: Public Active/Active (FDO)
      is_legacy_deployment: false
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/public-active-active
      k6_work_dir: ./tests/tfe-load-test
      utility_test: false
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: PUBLIC_ACTIVE_ACTIVE_TFC_TOKEN
  
  private_active_active:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Private Active/Active
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'private-active-active') }}
    with:
      test_name: Private Active/Active (FDO)
      is_legacy_deployment: false
      utility_test: false
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/private-active-active
      k6_work_dir: ./tests/tfe-load-test
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: PRIVATE_ACTIVE_ACTIVE_TFC_TOKEN
      bastion_ssh_private_key_secret_name: PRIVATE_ACTIVE_ACTIVE_BASTION_SSH_KEY_BASE64

  private_tcp_active_active:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Private TCP Active/Active
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'private-tcp-active-active') }}
    with:
      test_name: Private TCP Active/Active (FDO)
      is_legacy_deployment: false
      utility_test: false
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/private-tcp-active-active
      k6_work_dir: ./tests/tfe-load-test
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: PRIVATE_TCP_ACTIVE_ACTIVE_TFC_TOKEN
      bastion_ssh_private_key_secret_name: PRIVATE_TCP_ACTIVE_ACTIVE_BASTION_SSH_KEY_BASE64

  standalone_external_legacy:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Standalone External (Legacy)
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'standalone-external-legacy') }}
    with:
      test_name: Standalone External
      is_legacy_deployment: true
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/standalone-external
      k6_work_dir: ./tests/tfe-load-test
      utility_test: false
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: STANDALONE_EXTERNAL_LEGACY_TFC_TOKEN
      TFC_workspace_substitution_pattern: 's/terraform {/terraform {\n\
        backend "remote" {\n\
          organization = "terraform-enterprise-modules-test"\n\
          workspaces {\n\
            name = "azure-standalone-external-legacy"\n\
          }\n\
        }\n/'

  standalone_mounted_disk_legacy:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Standalone Mounted Disk (Legacy)
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'standalone-mounted-disk-legacy') }}
    with:
      test_name: Standalone Mounted Disk
      is_legacy_deployment: true
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/standalone-mounted-disk
      k6_work_dir: ./tests/tfe-load-test
      utility_test: false
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: STANDALONE_MOUNTED_DISK_LEGACY_TFC_TOKEN
      TFC_workspace_substitution_pattern: 's/terraform {/terraform {\n\
        backend "remote" {\n\
          organization = "terraform-enterprise-modules-test"\n\
          workspaces {\n\
            name = "azure-standalone-mounted-disk-legacy"\n\
          }\n\
        }\n/'

  public_active_active_legacy:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Public Active/Active (Legacy)
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'public-active-active-legacy') }}
    with:
      test_name: Public Active/Active
      is_legacy_deployment: true
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/public-active-active
      k6_work_dir: ./tests/tfe-load-test
      utility_test: false
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: PUBLIC_ACTIVE_ACTIVE_LEGACY_TFC_TOKEN
      TFC_workspace_substitution_pattern: s/azure-public-active-active/azure-public-active-active-legacy/
  
  private_active_active_legacy:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Private Active/Active (Legacy)
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'private-active-active-legacy') }}
    with:
      test_name: Private Active/Active
      is_legacy_deployment: true
      utility_test: false
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/private-active-active
      k6_work_dir: ./tests/tfe-load-test
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: PRIVATE_ACTIVE_ACTIVE_LEGACY_TFC_TOKEN
      TFC_workspace_substitution_pattern: s/azure-private-active-active/azure-private-active-active-legacy/
      bastion_ssh_private_key_secret_name: PRIVATE_ACTIVE_ACTIVE_BASTION_SSH_KEY_BASE64

  private_tcp_active_active_legacy:
    uses: hashicorp/terraform-random-tfe-utility/.github/workflows/azure-tests.yml@ah/tf-5370
    secrets: inherit
    name: Run tf-test on Azure Private TCP Active/Active (Legacy)
    if: ${{ contains(github.event.client_payload.slash_command.args.unnamed.all, 'all') || contains(github.event.client_payload.slash_command.args.unnamed.all, 'private-tcp-active-active-legacy') }}
    with:
      test_name: Private TCP Active/Active
      is_legacy_deployment: true
      utility_test: false
      module_repository_id: hashicorp/terraform-azurerm-terraform-enterprise
      work_dir: ./tests/private-tcp-active-active
      k6_work_dir: ./tests/tfe-load-test
      pull_request_repo_name: ${{ github.event.client_payload.github.payload.repository.full_name }}
      pull_request_ref: ${{ github.event.client_payload.pull_request.head.sha }}
      pull_request_comment_id: ${{ github.event.client_payload.github.payload.comment.id }}
      TFC_token_secret_name: PRIVATE_TCP_ACTIVE_ACTIVE_LEGACY_TFC_TOKEN
      TFC_workspace_substitution_pattern: s/azure-private-tcp-active-active/azure-private-tcp-active-active-legacy/
      bastion_ssh_private_key_secret_name: PRIVATE_TCP_ACTIVE_ACTIVE_BASTION_SSH_KEY_BASE64
